<!DOCTYPE html>
<html>
  <head>
    <title>RoboCar</title>
    <style>
      label {
        display: inline-block;
        width: 150px;
        font-weight: bold;
      }
      .still {
        display: block;
        width: 320px;
        height: 240px;
      }
    </style>
  </head>
  <body>
    <div id="root"></div>
    <script type="text/html" id="tpl">
      <p>
        <img class="still" src="" id="image">
      </p>
      <p>
        <label>Speed:</label>
        <input type="range" min="-1" max="1" step="0.1" value="{{ speed }}"/>
        <span>({{ speed }})</span>
      </p>
      <p>
        <label>Rot:</label>
        <input type="range" min="-1" max="1" step="0.1" value="{{ rot }}"/>
        <span>({{ rot }})</span>
        <a href="#" on-click="resetRot">reset</a>
      </p>
      <p>
        <button on-click="stop">STOP!</button>
      </p>
    </script>
    <script>
      window.INIT_SPEED = <%= speed %>;
      window.INIT_ROT = <%= rot %>;
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ractive/0.8.3/ractive.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/script.js"></script>
  </body>
</html>
