<!DOCTYPE html>
<html>
  <head>
    <title>RoboCar</title>
    <style>
      label {
        display: inline-block;
        width: 150px;
        font-weight: bold;
      }
    </style>
  </head>
  <body>
    <div id="root"></div>
    <script type="text/html" id="tpl">
      <p>
        <label>Speed:</label>
        <input type="range" min="-0.99" max="0.99" step="0.01" value="{{ speed }}"/>
        <span>({{ speed }})</span>
      </p>
      <p>
        <label>Rot:</label>
        <input type="range" min="-0.99" max="0.99" step="0.01" value="{{ rot }}"/>
        <span>({{ rot }})</span>
      </p>
    </script>
    <script>
      window.INIT_SPEED = <%= speed %>;
      window.INIT_ROT = <%= rot %>;
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ractive/0.8.1/ractive.min.js"></script>
    <script src="/script.js"></script>
  </body>
</html>
